body {
  background-color: #071b7f  ;
  text-align: center;
  color: white; 
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
   }
   
   h1, h2  {
    font-weight: 500;
   }

   .temp, .weather {
     font-size: 25px;
   }

   .icon {
     height: 50px;
     width: 45px;
   }